@font-face {
  font-family: "Geist-Italic";
  src: url(../fonts/Geist-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url(../fonts/Geist-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InstrumentSerif";
  src: url(../fonts/InstrumentSerif-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TiltWarp";
  src: url(../fonts/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --marquee-font-color: #8c8d92;
  --navegation-font-color: #0f0e0e;
  --cards-font-color: #f6f8fb;
  --button-font-color: #0f0e0e;
  --feature-font-color: #f6f8fb;
  --table-font-color: #0f0e0e;
  --footer-font-color: #D1D2D8;

  --background-body: #1f1f1f;

  --background-home: #ff5700;
  --backgroud-archive: #32ce57;
  --background-about: #a3caff;
  --background-table: #f5f5f5;
  --background-footer: #171614;
  --divider-table: #555659;
  --hover-background-menu: #ffffff;
  --button-1-color: #ffffff;
  --button-1-color-hover: #ff5700;
  --feature-font-color-hover: #555659;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-body);
}

main {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  animation: appears 0.5s 0.5s ease-in forwards;
}

.button-1 {
  display: block;
  width: 100%;
  padding: 16px 24px;
  text-decoration: none;
  background-color: var(--button-1-color);
  border-radius: 8px;
}

.button-1:hover {
  background-color: var(--button-1-color-hover);
}
.button-1 h4 {
  font-family: "InstrumentSerif", sans-serif;
  font-size: 40px;
  font-style: italic;
  line-height: 90%;
  letter-spacing: -2%;
  color: var(--button-font-color);
  text-align: center;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .button-1 {
    padding: 24px;
  }
  .button-1 h4 {
    font-size: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .button-1 {
    padding: 32px 24px;
  }
  .button-1 h4 {
    font-size: 80px;
  }
}
