@font-face {
  font-family: "Geist-Italic";
  src: url(../fonts/Geist-Italic-VariableFont_wght.ttf) format(truetype);
  font-weight: 400 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Geinst";
  src: url(../fonts/Geist-VariableFont_wght.ttf) format(truetype);
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InstrumentSerif";
  src: url(../fonts/InstrumentSerif-Italic.ttf) format(truetype);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TiltWarp";
  src: url(../fonts/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf)
    format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --marquee-font-color: #8c8d92;
  --navegation-font-color: #0f0e0e;
  --cards-font-color: #F6F8FB;

  --background-body: #1f1f1f;

  --background-home: #ff5700;
  --backgroud-archive: #32ce57;
  --background-about: #a3caff;
  --hover-background-menu: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-body);
}

main {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

