.subscribe {
  width: 100%;
  min-height: 678px;
  background: url(../img/background-subscribe-mobile.png) no-repeat;
  background-size: cover;
  padding: 180px 40px 40px 40px;
}
.subscribe .subscribe-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/Viewport-subscribe-mobile-Tablet.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}
.subscribe .subscribe-conteiner .faixa-top {
  width: 100%;
  height: 52px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px dashed #0f0e0e;
}
.subscribe .subscribe-conteiner .faixa-top .elipse {
  width: 20px;
  height: 20px;
  background-color: #0f0e0e;
  border-radius: 50%;
}
.subscribe .subscribe-conteiner .text-conteiner {
  width: 100%;
  height: auto;
  padding: 64px 0;
}
.subscribe .subscribe-conteiner .text-conteiner .texts-subscribe {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.subscribe .subscribe-conteiner .text-conteiner .texts-subscribe .cta-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscribe .subscribe-conteiner .text-conteiner .texts-subscribe h4 {
  font-family: "InstrumentSerif", sans-serif;
  font-size: 40px;
  line-height: 90%;
  letter-spacing: -2%;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #0f0e0e;
}
.subscribe .subscribe-conteiner .text-conteiner .texts-subscribe p {
  font-family: "Geist", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #0f0e0e;
}
.subscribe .subscribe-conteiner .text-conteiner .texts-subscribe a {
  width: auto;
  height: 56px;
  text-decoration: none;
  background-color: #0f0e0e;
  color: #f6f8fb;
  font-family: "Geist", sans-serif;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -2%;
  font-weight: 600;
  font-style: normal;
  padding: 16px;
}
.subscribe .subscribe-conteiner .text-conteiner .texts-subscribe a:hover{
    background-color: #1F1F1F;
}

.subscribe .subscribe-conteiner .faixa-bottom {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 2px dashed #0f0e0e;
}
.subscribe .subscribe-conteiner .faixa-bottom .elipse {
  width: 20px;
  height: 20px;
  background-color: #0f0e0e;
  border-radius: 50%;
}
