.table {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: var(--background-table);
  border-radius: 8px;
  padding: 40px 10px;
}
.table h2 {
  font-family: "TiltWarp", sans-serif;
  font-size: 64px;
  line-height: 80%;
  letter-spacing: -4%;
  font-weight: 400;
  color: var(--table-font-color);
}
.table table {
  border-collapse: collapse;
  width: 100%;
}

.tableConteiner th {
  font-family: "Geinst", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -2%;
  font-weight: 600;
  color: var(--h2-table-font-color);
  opacity: 60%;
  font-style: normal;
  padding-bottom: 12px;
}
.tableConteiner td {
  font-family: "Geinst", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -2%;
  font-weight: 600;
  color: var(--h2-table-font-color);
  font-style: normal;
  padding: 16px 0;
  border-top: 1px dashed var(--divider-table);
  border-bottom: 1px dashed var(--divider-table);
}
th:nth-child(1) {
  text-align: left;
  padding-right: 16px;
}
th:nth-child(2) {
  text-align: right;
  padding-right: 10px;
}

td:nth-child(1) {
  text-align: left;
  padding: 16px 16px 16px 0;
}
td:nth-child(2) {
  text-align: right;
  padding: 16px 16px 16px 0;
}
.table-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .table {
    padding: 60px 10px;
  }
  .table h2 {
    font-size: 140px;
  }
  .tableConteiner td {
    font-size: 20px;
    vertical-align: top;
  }
  .table-desktop {
    display: table-cell;
  }
  .table table {
    width: 100%;
    table-layout: fixed;
  }
  th:nth-child(1) {
    text-align: left;
  }
  th:nth-child(2) {
    text-align: left;
    padding: 16px 16px 16px 0;
  }
  th:nth-child(3) {
    text-align: left;
    padding: 16px 16px 16px 0;
  }
  th:nth-child(4) {
    text-align: right;
    padding: 16px 0px 16px 0;
  }
  td:nth-child(1) {
    text-align: left;
    padding: 16px 16px 16px 0;
  }
  td:nth-child(2) {
    text-align: left;
    padding: 16px 16px 16px 0;
  }
  td:nth-child(3) {
    text-align: left;
    padding: 16px 16px 16px 0;
  }
  td:nth-child(4) {
    text-align: right;
    padding: 16px 0px 16px 0;
  }
}
@media screen and (min-width: 1280px) {
  .table h2 {
    font-size: 160px;
    letter-spacing: -5%;
  }
  .table table {
    width: 100%;
    table-layout: auto;
  }
}
